{% extends "base.html" %}
{% block content %}
    <div class="jumbotron">
        <h1>Travel Blog and Tickets</h1>
    </div>

    <div class="container">
        {% for post in posts.items %}
        <div class="card">
            <div class="card-body">
                {% if post.date.strftime('%Y-%m-%d') == today %}
                    <h2> <a class="card-title" href="{{url_for('posts.read_post', post_id = post.id)}}"></a>{{post.title}} <span class="badge badge-danger">New!</span></h2>
                {% else %}
                    <h2> <a class="card-title" href="{{url_for('posts.read_post', post_id = post.id)}}"></a>{{post.title}}</h2>
                {% endif %}
                <a href="{{url_for('users.user_posts', username=post.author.username)}}">Author: {{ post.author.username }}</a>
                <p>Publishing date: {{post.date.strftime('%d-%m-%Y')}}</p>
                <a class = 'btn btn-primary' href="{{url_for('posts.read_post', post_id = post.id)}}"> Read this post </a>
            </div>
        </div>
        {% endfor %}
    </div>

<nav aria-label="Page Navigation">
    <ul class="pagination justify-content-center">
        {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
            {% if posts.page == page_num %}
            <li class="page-item disabled">
                <a class="page-link" href="{{url_for('core.index', page=page_num)}}">{{page_num}}</a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="{{url_for('core.index', page=page_num)}}">{{page_num}}</a>
            </li>
            {% endif %}
        {% endfor %}
    </ul>
</nav>
{% endblock %}