{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="../static/styles/searchbar.css" type="text/css">
    <div class="jumbotron">
        <h1>Available tickets</h1>
        <div class="container">
            <h3>Search for: </h3>
            <form class='form-group' method="POST">
                        {{form.hidden_tag()}}
                        <div class="form-group">
                            {{form.select}}
                        </div>
                        <div class="row">
                            <div class="span12">
                                <div id="custom-search-form" class="form-search form-horizontal pull-right">
                                    <div class="input-append span12">
                                                        <div class="form-group">
                                                            {{form.search.label(class='form-control-label')}}
                                                            {{form.search(class='form-control form-control-lg')}}
                                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            {{form.submit(class="btn btn-outline-info")}}
                        </div>
            </form>
        </div>

    <div class="container">
        {% for flight in flights.items %}
        <div class="card">
            <div class="card-body">
                <h2>{{flight.departure}} — {{flight.arrival}}</h2>
                <h3> {{ flight.date }} </h3>
                <p>price: {{ flight.price }}</p>
                <form action="{{url_for('tickets.success', flight_id = flight.id)}}" methods="POST">
                    <script
                        src = "https://checkout.stripe.com/checkout.js"
                        class = "stripe-button"
                        data-key = {{public_key}}
                        data-amount = {{flight.price * 100}}
                        data-currency = 'rub'
                        data-name = "Purchasing a ticket"
                        data-description = "Purchase"
                        data-image = "https://images.unsplash.com/photo-1559268950-2d7ceb2efa3a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=80"
                        data-locale = "auto"
                        data-zip-code = "true"
                    ></script>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>

<nav aria-label="Page Navigation">
    <ul class="pagination justify-content-center">
        {% for page_num in flights.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
            {% if flights.page == page_num %}
            <li class="page-item disabled">
                <a class="page-link" href="{{url_for('tickets.ticket', page=page_num)}}">{{page_num}}</a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="{{url_for('tickets.ticket', page=page_num)}}">{{page_num}}</a>
            </li>
            {% endif %}
        {% endfor %}
    </ul>
</nav>
{% endblock %}